<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjiu.mapper.TCustomerResponseMapper">

    <!-- 开启二级缓存
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjiu.pojo.TCustomerResponse">
        <id column="response_id" property="responseId" />
        <result column="response_text" property="responseText" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="all_touristID" property="allTouristid" />
        <result column="all_touristName" property="allTouristname" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        response_id AS responseId, response_text AS responseText, create_time AS createTime, update_time AS updateTime, all_touristID AS allTouristid, all_touristName AS allTouristname
    </sql>

</mapper>
